<!DOCTYPE html>
<html>
    <head>
        <title>Python-NLP</title>
    </head>
    <body>
        <h1>Python-NLP</h1>
        <div>
            <div>
                <div>
                    <label>Sqls</label><textarea rows="3" cols="50" name="sql"></textarea>
                </div>
                <input type="submit" value="copy">
                {% for sql in sqls %}
                  <p>{{ sql.sql }}</p>
                {% endfor %}
            </div>
        </div>


    </body>
</html>
