<!DOCTYPE html>
<html>
    <head>
        <title>Python-NLP</title>
        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
        <script data-main="../static/js/main" src="../static/js/libs/requirejs/require.min.js"></script>
        <link href="../static/css/vis.min.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            #pythonnlp {
                width: 1000px;
                height: 400px;
                border: 1px solid lightgray;
            }
        </style>
    </head>
    <body>
        <h1>Python-NLP</h1>
        <div>
            <div class="python-nlp" id="pythonnlp"></div>
            <div>
                <input name="words" style="width: 600px;">
                <input type="submit" value="Add">
            </div>
        </div>


    </body>
</html>
