<!DOCTYPE html>
<html>
    <head>
        <title>Python-NLP</title>
        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
        <script data-main="../static/js/main" src="../static/js/libs/requirejs/require.min.js"></script>
        <link href="../static/css/vis.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Python-NLP</h1>
        <div>
            <div>
                <div>
                    <label>Name</label><input name="words" style="width: 600px;">
                </div>
                <div>
                    <label>Tran</label><input name="trans" style="width: 600px;">
                </div>
                <input type="submit" value="Add">
            </div>
        </div>


    </body>
</html>
